body {
  background-color: #F9F9F9 !important;
}

/* Timepicker */
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}


/* Home Page */
.masthead {
  background-image: linear-gradient(
          115deg,
          #D65A72 0%,
          #EF959D 59%,
          #FCDDBC 95%
  ) !important;
}

.masthead.segment {
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.inverted.pointing.menu {
  border: none;
}

/* Navbar  */

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
          135deg,
          #D65A72 0%,
          #EF959D 69%,
          #FCDDBC 89%
  ) !important;
   box-shadow: 0 8px 6px -6px #999
}

.ui.main.container, .main.segment {
  margin-top: 6em;
}


.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

/* Events */
.event-btn {
  background-color: #D65A72 !important;
}

/*Chat Comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}


/* Modals */
.ui.mini.modal {
  top: 20%;
}
